header {
    min-height: 70px;
    background-color: #fff;
    box-shadow: 0 6px 12px #0052E01A;
    display: flex;
    align-items: center;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    .nav-top {
        width: 100%;
        .navbar-brand {
            @media screen and (max-width: 767px){
                width: 31px;
                overflow: hidden;
            }
        }
        .nav-item {
            &.active {
                .nav-link {
                    color: #387DFF;
                }
            }
            .nav-link {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                color: #7683A8;
                white-space: nowrap;
            }
        }
    }
}
